<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление данных</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Добавить данные</h1>
    <a href="/cars/add">
            <button>Автомобили</button>
        </a>
    <a href="/dilers/add">
            <button>Дилеры</button>
        </a>
    <a href="/">
            <button>Вернуться на главную</button>
        </a>
</body>

</html>
